$baseBlack: #000000;
$baseWhite: #ffffff;
$greyTxt: rgba(#0F1F1C, 0.5);
$mainBg: #E5E5E5;
$whiteLinearBg: linear-gradient(0deg, #FFFFFF, #FFFFFF), #C4C4C4;
$orangeGradient: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%);

$baseLightBg: #fbf3ec;
$textHover: #973c56;
$textDark: #2b2c2e;
$svgRed: #e46e62;
$logo: #645c97;
$exLightBg: #dff0ee;

$tablet: 1023px;
$mobile: 767px;

