$baseBlack: #000000;
$mainGreen: #1F5E37;
$baseWhite: #ffffff;
$orange: #FF7B4E;
$greyTxt: rgba(#0F1F1C, 0.5);
$mainBg: #E5E5E5;
$whiteLinearBg: linear-gradient(0deg, #FFFFFF, #FFFFFF), #C4C4C4;
$orangeGradient: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%);