.Account {
    padding-top: 40px;
    text-align: center;
}

.Account__save {
    color: $baseWhite;
    padding: 12px 48px;
    border-radius: 15px;
    border: none;
    margin-top: 36px;
    background: $orangeGradient;
}

.Account__bio {
    border-radius: 20px;
    width: 400px;
    background-color: $baseWhite;
    padding: 40px;
    padding-top: 10px;
    box-sizing: border-box;
}

.Account__avatar {
    width: 100%;
    height: 200px;
    margin-bottom: 30px;
}
