.Alphabet {
  text-align: center;
  background-color: $baseLightBg;
  position: relative;

  & ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    justify-content: center;
    // margin-top: 40px;
  }

  & h2 {
    text-align: center;
    padding: 40px 0;
    margin: 0;
    font-size: 2rem;
    line-height: 2rem;
    font-family: "Roboto Slab", sens-serif;
  }
}

.Alphabet__item {
  cursor: pointer;
  width: 200px;
  height: 200px;
  background-color: $baseWhite;
  margin: 16px 8px;
  list-style: none;
  border-radius: 20%;
  display: grid;
  justify-content: center;
  grid-template-rows: 1fr max-content;
  padding: 16px;
  box-sizing: border-box;

  &:hover {
    box-shadow: 1px 4px 1px $textHover;
  }

  & p {
    font-size: 60px;
    line-height: 60px;
    margin: 0;
    align-self: center;
  }
}

@media (max-width: $tablet) {
  .Alphabet {
    // padding: 0 16p

    & ul {
      margin-top: 20px;
    }
  
    & h2 {
      text-align: left;
      padding: 20px 0;
    }
  }
  
  .Alphabet__item {
    width: 100px;
    height: 100px;
    margin: 8px;
  
    & p {
      font-size: 40px;
      line-height: 40px;
      align-self: center;
    }
  }
}

.Alphabet__items {
  padding-top: 80px;
}
