.AudioEl {
    display: flex;

    & button {
        width: 50px;
        height: 50px;
        padding: 0;
        border: none;
        background-color: transparent;
    }
}

.fa-play-circle {
    color: $orange;
    font-size: 48px;
    margin: 0;

    &:hover {
        color: rgba($orange, 0.7);
    }

    &:active {
        color: rgba($orange, 0.9);
    }
}