.ExDescription {
    padding: 8px 16px;
    border-radius: 10px;

    & p {
        font-size: 20px;
        color: $orange;
    }

    & span {
        color: $greyTxt;
        font-size: 16px;
    }
}