.Exercises__bubble {
    border: 2px solid $exLightBg;
    margin-bottom: 16px;
    border-radius: 5px;
    display: flex;
    box-sizing: border-box;
    width: 85%;
    cursor: pointer;
    transition: all 0.3s;

    & a {
        display: flex;
        flex-direction: column;
        color: $logo;
        width: 100%;

        & span {
            color: rgba($logo, 0.7);
            padding: 8px 16px;
            position: relative;
            overflow: hidden;
        }

        & span:first-child {
            color: rgba($logo, 1);
            font-weight: 500;
            border-bottom:  1px solid $exLightBg;
        }
    } 

    & span::after {
        position: absolute;
        content: "";
        top: 0;
        height: 100%;
        width: 100%;
       transition: all 0.3s;
    }

    & span:first-child::after {
        left: 0;
        background-color: rgba($logo, 0.1);
        transform: translateY(-100%);
    }

    & span:last-child::after {
        right: 0;
        background-color: rgba($exLightBg, 0.4);
        transform: translateY(100%);
    }

    &:hover {
        transform: scale(1.01);
    }
}
.Exercises__bubble:hover span:first-child::after,
.Exercises__bubble:hover span:last-child::after {
    transform: translateY(0);
}

.exercises__svg {
    height: 75px;
}

.exerscises__top {
    position: relative;
    margin-bottom: 75px;
    background-color: $baseLightBg;
}

.exersices__search {
    padding: 20px;

    & h3 {
        margin: 0;
        margin-bottom: 2rem;
        margin-left: 16px;
        font-size: 1.5rem;
    }

    & path {
        fill: rgba($textDark, 0.5);
    }

    & input {
        padding: 16px;
        border: none;
        background-color: $baseWhite;
        width: 100%;
        font-size: 1.5rem;

        &:focus {
            outline: none;
        }
    }

    & input::placeholder {
        color: rgba($textDark, 0.3);
        font-weight: 100;
    }

    & svg {
        width: auto;
        height: 20px;
        flex-shrink: 0;
    }

    & div {
        display: flex;
        align-items: center;
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 20px;
        box-sizing: border-box;
        background-color: $baseWhite;
    }
}

.exercises__tabs {
    & ul {
        display: flex;
        flex-wrap: wrap;
        padding: 20px 16px;
    }

    & li {
        box-shadow: 0 1px 2px rgba($textDark, 0.1);
        color: rgba($textDark, 0.8);
        font-weight: 500;
        text-transform: uppercase;
        border-radius: 20px;
        margin: 4px 8px;
        padding: 16px;
        font-size: 12px;
        background-color: $baseWhite;
    }

    & li:hover {
        cursor: pointer;
        color: $svgRed;
    }
}

.exercises__items {
   padding: 60px 24px;
}


