.FilledBlanks__trainingWord {
    font-size: 22px;
    line-height: 24px;
    margin: 0 16px;
    display: flex;
    margin: 8px;

    & span {
      margin: 4px;
    }
}

.FilledBlanks {
    margin: 40px 0;

    & section {
        display: flex;
        margin: 16px 0;
        padding: 16px;
        display: flex;
        flex-wrap: wrap;
    }
}