.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 35px;
    padding-bottom: 25px;
    background-color: $mainGreen;

    & a {
        text-decoration: none;
        color: $baseWhite;
    }
}

.header__nav {
    & a {
        padding: 4px;
        color: $baseWhite;
        margin-right: 8px;
        font-weight: 500;
        font-size: 15px;
        line-height: 22px;

        &:hover {
            color: rgba($orange, 0.5)
        }

        &:active {
            color: rgba($orange, 0.9)
        }
    }
}

.header__account {
    background: $orangeGradient;
    color: $baseWhite;
    padding: 12px 24px;
    border-radius: 20px;
}

.header__main {
    font-weight: 900;
    font-size: 20px;
    letter-spacing: 1.5px;
}
