.Home {
    background-color: $mainGreen;
    color: $baseWhite;
    padding-top: 60px;
    padding-bottom: 70px;
    position: relative;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;

    & h2 {
        margin: 0;
    }
}

.Home__title {
    width: 50%;
    margin: 0;
    margin-bottom: 35px;
    font-size: 35px;
    line-height: 45px;
    font-weight: 600;
    font-size: 50px;
    line-height: 52px;
}

.Home__button {
    background: $orangeGradient;
    color: $baseWhite;
    text-decoration: none;
    padding: 8px 24px;
    border-radius: 10px;
}

.Home__courses {
    & p {
        width: 50%;
        color: rgba(255, 255, 255, 0.5);
        margin: 30px 0;
        font-weight: 500;
        font-size: 20px;
        line-height: 26px;
    }

    & a {
        display: inline-block;
        vertical-align: baseline;
    }
}

.Home__img {
    position: absolute;
    left: 50%;
    bottom: 0;
    width: auto;
    // height: auto;
    max-height: 90%;
}
