.navigation {
    display: flex;

    & a {
        font-size: 18px;
        padding: 6px 8px;
        color: $textDark;
        text-decoration: none;
    }

    & li {
        list-style: none;
    }

    & a:hover {
        color: $textHover
    }
}