.socials {
    display: flex;
    align-items: center;

    & a {
        padding: 4px;
        margin: 8px;
        display: flex;
        align-items: center;
        color: $textDark;
    }

    & span {
        margin-left: 8px;
    }
  
    & svg {
        width: auto;
        height: 30px;
    }

    & svg path {
        fill: $textDark;
    }

    & li:hover path {
        fill: $textHover;
    }


    & li:hover span {
        color: $textHover;
    }
}