.tip {
    position: relative;
    font-size: 22px;
    line-height: 24px;
    display: flex;
    padding: 16px 0;
    background-color: $exLightBg;

    & h3 {
        font-size: 18px;
        line-height: 20px;
    }
}

@media (max-width: $tablet) {
    .tip {
        text-align: left;
        font-size: 18px;
        line-height: 20px;

    }
}