.VideoPreview {
    display: block;
    width: 300px;
    cursor: pointer;
    text-decoration: none;
    color: $baseBlack;

    & li {
        color: $greyTxt;
        // padding: 0 8px;
        font-size: 14px;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
    }

    & h3 {
        margin: 0;
        font-size: 26px;
        font-weight: 600;
        font-size: 18px;
        line-height: 20px;
    }

    & ul {
        padding: 16px 0;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
    }
}

.VideoPreview__image {
    width: 100%;
    height: 200px;
    background-color: black;
    border-radius: 25px;
}
